<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="morajavier.pdm.voclearn">
    <!-- Para poder hacer una copia de seguridad de la base de datos fuera del proyecto -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Permisos para grabar audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Para haver uso de la camara -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vistas.DetailActivity"></activity>
        <activity android:name=".Vistas.AddActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTema"> <!-- Para la pantalla de bienvenida -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>